/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-frames-frame {
  position: relative;
  padding-bottom: var(--wp--preset--spacing--60);
}

.wp-block-frames-frame.is-style-frames-slider > .wp-block-frames-frame__inner-container {
  display: flex;
  flex-direction: row;
  padding-left: var(--wp--preset--spacing--60);
  padding-right: var(--wp--preset--spacing--60);
  flex-wrap: nowrap;
  position: relative;
  scroll-snap-align: center;
}

.wp-block-frames-frame.is-style-frames-slider > .wp-block-frames-frame__inner-container:has(.wp-block-group:nth-child(2))  {
  overflow-x: scroll;
  scroll-margin-top: 10rem;
  counter-reset: item;
  gap: var(--wp--preset--spacing--60);
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.wp-block-cover:has(.wp-block-frames-frame) {
  scroll-snap-align: center;
  scroll-margin-top: 10rem;
}

.wp-block-frames-frame.is-style-frames-slider > .wp-block-frames-frame__inner-container:has(.wp-block-group:nth-child(2)) > .wp-block-group {
  max-width: 100%;
  min-width: var(--inner-group-max-width, 100%);
  margin: 0;
  position: relative;
  counter-increment: item;
  scroll-snap-align: center;
  scroll-margin-top: 5rem;
}

.wp-block-frames-navigation {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  gap: var(--wp--preset--spacing--40);
}


.wp-block-frames-navigation-dot {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -30px;
  opacity: 0.5;
}

.wp-block-frames-navigation-dot.active {
  opacity: 1;
}
